@page "{PageNumber?}"
@model CleanArchitectureTemplate.Web.Pages.PaginatedToDoModel
@{
    ViewData["Title"] = "PaginatedToDo";
}

<h2>@ViewData["Title"] (@Model.Result.ToDoItems.Count())</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Due date</th>
            <th>Is done</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result.ToDoItems)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Description</td>
                <td>@item.DueDate</td>
                <td>@item.IsDone</td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Result.HasPreviousPage)
{
    <a href="/PaginatedToDo/@Model.PreviousPageNumber"><</a>
}
@if(Model.Result.HasNextPage)
{
<a href="/PaginatedToDo/@Model.NextPageNumber" >></a>
}